body{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 50px;
}
.orange-highlight{
    color: orange;
}
.half-width{
    width:25%;
    float: left;
    margin-left: 5%;
    padding-left: 5%; 


}
.half-width img {
    width: 100%;
}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
section{
    height: 500px;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(45deg, orange, tomato);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: 700px;
}
.about-me{
    text-align: justify;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    
}
.experience{
    padding: 20px 10px 1px 200px;
    font-size: 50px;
}

.single-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 70%;
    width: 700px;
    padding: 30px; 

}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position:left;
}
#bifcl{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}
#sgfl{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}